@import "./base.css";


a {
  text-decoration: none;
  color: var(--color-link);
  transition: 0.4s;
}

h1, h2, h3, h4,h5, h6{
  color: var(--color-heading)
}


main {
  margin-top: 20px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


button {
  color: var(--color-icon);
  background-color: var(--color-background);
  border: 2px solid var(--color-border);
}